// Color
$color-white: #fff
$color-white-100: #f9fbf6
$color-white-4d: rgba($color-white, 0.3)
$color-black: #0d0d0d
$color-black-100: #e4e4dc
$color-black-300: #b4b4b4
$color-black-600: #6d6e6b
$color-primary: #6E77EE

// Font Size
$font-size-xs: 0.675rem
$font-size-sm: 0.875rem
$font-size-base: 1rem
$font-size-lg: 1.25rem
$font-size-xl: 1.5rem
$font-size-2xl: 2rem
$font-size-3xl: 3rem

// Font Weight
$font-weight-base: 400
$font-weight-bold: 700

// Border Radius
$border-radius-base: 5px
$border-radius-lg: $border-radius-base * 2
$border-radius-round: 50%

// Spacings
$m-xs: 0.25rem
$m-sm: $m-xs * 2
$m-base: $m-sm * 2
$m-lg: $m-base * 2
$m-xl: $m-base * 4
$m-2xl: $m-base * 6
$m-3xl: $m-base * 8
