@import 'src/styles/common'

.card
  display: flex
  flex-direction: column
  box-shadow: -5px 5px 40px rgba($color-black, 0.1)
  height: fit-content
  z-index: 0

  &__image
    width: 100%
    object-fit: cover

  &__content
    display: flex
    flex-direction: column
    background-color: #fff
    gap: 0.5rem
    padding: 1rem 2rem

    &-title
      font-size: $font-size-lg
      font-weight: $font-weight-bold
      color: $color-black

    &-label
      font-size: $font-size-xs
      color: rgba($color-black, 0.3)
      border-bottom: 1px solid rgba($color-black, 0.1)
      width: fit-content
      padding-bottom: 0.5rem
      text-transform: uppercase

@include breakpoint(small)

  .card__image
    height: 200px
